.root {
    display: flex;
    align-items: center;
    gap: 11px;
    border-radius: var(--br-medium);
    background-color: var(--secondary);
    padding: 4px;
    width: fit-content;
    margin: 0 auto var(--indent);
}

.icon {
    width: 24px;
    height: 24px;
}

.value {
    font-size: 34px;
}

.multiplier {
    display: flex;
    align-items: center;
    background: var(--card-gradient);
    border-radius: 13px;
    padding: 4px;
    font-size: 20px;

    & svg {
        width: 12px;
        height: 12px;
    }
}
