.root {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.root.opened {
    display: flex;
}

.inner {
    background: var(--card-gradient);
    padding: 12px;
    border-radius: var(--br-medium);
    max-width: 316px;
    width: 100%;
}
