.root {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-family: inherit;
    justify-content: center;
    gap: 8px;
    background-color: var(--secondary);
    border-radius: var(--br-medium);
    padding: 8px 16px;
    border: none;
    color: var(--white);
    font-size: 20px;
    line-height: 120%;
    transition: var(--tr-default);

    & svg {
        color: var(--light);
        transition: var(--tr-default);
    }

    &:active {
        background-color: var(--primary);
    }

    @media (hover: hover) {
        &:hover,
        &:focus {
            background-color: var(--primary);

            & svg {
                color: var(--white);
            }
        }
    }
}

.light {
    background-color: var(--primary);

    &:active {
        background-color: var(--secondary);
    }

    @media (hover: hover) {
        &:hover,
        &:focus {
            background-color: var(--secondary);
        }
    }
}
