.root {
    position: relative;
    margin: 0 auto;
}

.button {
    display: block;
    width: calc(100% - 30px);
    height: 100%;
    border: none;
    background-color: transparent;
    margin: 0 auto;
}

.buttonInner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    position: relative;
    width: 71.5%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image svg {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.buttonBg {
    z-index: 0;
    position: absolute;
    bottom: 8.8%;
    left: 11.5%;
    width: 72.5%;
    border-radius: 100%;
    background-color: var(--primary);
    filter: blur(100px);
    aspect-ratio: 1;
    transform: translate3d(0, 0, 0);
}

.tapEffect {
    font-family: var(--dark-hornet-italic);
    color: var(--white);
    position: absolute;
    font-size: 20px;
    pointer-events: none;
}
