.root {
    padding: 0 var(--indent);
}

.inner {
    position: relative;
    padding: 12px;
    border-radius: var(--br-medium);
    background: var(--card-gradient);
    box-shadow: 4px 4px 30px 0 rgba(9, 7, 34, 0.79);
    max-width: 500px;
    margin: 0 auto;
}

.tentacles {
    display: flex;
    justify-content: space-between;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tentaclesleft {
    transform: translateX(-100%);
}

.tentaclesRight {
    transform: translateX(100%);
}

.tentaclesItem {
    transition: var(--tr-default);
}

.tentaclesItemShow {
    transform: translateX(0);
}

.tentaclesItem img {
    border-radius: var(--br-medium);
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 6px;
}

.tracker {
    position: relative;
    height: 20px;
}

.tracker::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: var(--br-medium);
}

.bar {
    background-color: var(--secondary);
    height: 100%;
    border-radius: var(--br-medium);
}

.progress {
    background: linear-gradient(222deg, #cd2ee4 0%, #500275 100%);
    width: 100%;
    height: 100%;
    border-radius: var(--br-medium);
}
