.root {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto var(--indent);
}

.noQuests {
    color: var(--light);
    font-size: 14px;
    padding: var(--indent);
    width: 100%;
    background-color: var(--secondary);
    border-radius: var(--br-medium);
    text-align: center;
}
