.root {
    z-index: 1;
    position: fixed;
    bottom: 8px;
    left: 0;
    right: 0;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1px;
    width: 100%;
    box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.6);
    border-radius: var(--br-medium);
    background-color: var(--black);
}

.navigation li {
    flex-grow: 1;
    width: 100%;
}

.root .button {
    width: 100%;
    font-size: 12px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.root .button svg {
    width: 24px;
    height: 24px;
}

.root .buttonActive {
    background-color: var(--primary);
}

.root .buttonActive svg {
    color: var(--white);
}

.navigation li:first-of-type .button {
    border-radius: var(--br-medium) 0 0 var(--br-medium);
}

.navigation li:last-of-type .button {
    border-radius: 0 var(--br-medium) var(--br-medium) 0;
}
